<ul class="ads">
    <li ng-repeat="ad in ads.ads" class="formbox" data-id="{{ad.id}}">
        <div>
            <h1>{{ad.title}}</h1>
            <div>{{ad.date | date:'dd-MMM-yyyy'}}</div>
        </div>
        <div>
            <div ng-if='ad.imageDataUrl'>
                <img class="ad-image" ng-src="{{ad.imageDataUrl}}" />
            </div>
            <div>
                <div>
                    <strong>Text:</strong>
                    <div>{{ad.text}}</div>
                </div>
                <div>
                    <strong>Category:</strong>
                    <div>{{ad.categoryName}}</div>
                </div>
                <div>
                    <strong>Town:</strong>
                    <div>{{ad.townName}}</div>
                </div>
            </div>
        </div>
        <hr class="vertical"/>
        <div>
            <div>Status:</div>
            <div>{{ad.status}}</div>
            <div> <a ng-click="adDeactivation(ad.id)" class="button">Deactivate</a>
        </div>
    </li>
</ul>

<pagination total-items="ads.numItems" ng-model="adsParams.startPage"
            items-per-page="adsParams.pageSize" ng-change="reloadAds()"
            max-size="9" boundary-links="true">
</pagination>

<div ng-if="ads.ads.length==0" class="box no-data">
    No ads found.
</div>
